#上传代码时需要的忽略文件

src/application/cache/*
!src/application/cache/index.html
!src/application/cache/.htaccess

src/application/logs/*
!src/application/logs/index.html
!src/application/logs/.htaccess

src/upload/*
.idea/*
build/logs/*
.DS_Store